@import "reset.css";

.color__wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.color-card {
  display: flex;
  width: 300px;
  height: 150px;
  border: 1px solid #ffffff;
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}
