.mobile {
  width: 350px;
  height: 680px;
  background-color: #f8f8f8;
  border-radius: 45px;
  box-shadow: 6px 5px 15px rgb(143, 143, 143);
}

.header {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  color: #4b4a4a;
  margin-top: 60px;
}

.form {
  margin-top: 75px;
  background-color: #f8f8f8;
  height: 150px;
}

.form__input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btns {
  background-color: #f8f8f8;
  height: 150px;
  margin-top: 30px;
}

.etc {
  background-color: #f8f8f8;
  height: 50px;
  width: 100%;
  margin-top: 40px;
}

.form .form__email,
.form .form__password {
  border-radius: 8px;
  width: 300px;
  height: 40px;
  border: 1px solid #e0e0e0;
  padding-left: 10px;
  font-size: 13px;
}

.form .form__password {
  margin-top: 20px;
}

.form__text-que {
  font-size: 12px;
  text-align: right;
  margin-top: 13px;
  margin-right: 22px;
  color: red;
  font-weight: 700;
  cursor: pointer;
}

.form__check {
  margin-top: 10px;
  margin-left: 30px;
  display: flex;
  flex-direction: row;
}

.form__check .form__checkbox {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.form__check .form__text-check {
  font-size: 13px;
  color: rgba(173, 173, 173, 0.877);
  margin-top: 3px;
  font-weight: 700;
}
