.btns__btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__signin {
  background-color: #e2283e;
  width: 300px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  padding-top: 14px;
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  margin-top: 20px;
}

.btn__text {
  margin-top: 30px;
  margin-left: 24px;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.8;
}

.btn__social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 25px;
  align-items: center;
}

.btn__social .btn__social-facebook {
  width: 130px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  padding-top: 14px;
  font-size: 12px;
  color: #ffffff;
  background-color: #475a95;
  cursor: pointer;
}

.btn__social .btn__social-twitter {
  width: 130px;
  height: 40px;
  text-align: center;
  border-radius: 30px;
  padding-top: 14px;
  font-size: 12px;
  color: #ffffff;
  background-color: #5da1f1;
  cursor: pointer;
}
